<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" style="background-color: #F5F5F5;">
  <!-- Descripción Introductoria -->
  <div class="intro-container">
    <h2>Bienvenido a TeLlevoAPP</h2>
    <p>Regístrate como conductor o pasajero para comenzar a compartir viajes con tus compañeros.</p>
  </div>
  <h1>ajajjaajajajajjajaj</h1>
  <img alt="Silhouette of mountains" src="assets/pok-avatar/avatar.png"/>

  <!-- Tarjeta Informativa o Promocional -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fácil, rápido y seguro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Con TeLlevoAPP, puedes compartir viajes fácilmente con compañeros de clase. ¡Ahorra tiempo y dinero mientras
      contribuyes a un ambiente más amigable!
    </ion-card-content>
  </ion-card>

  <!-- Botón para abrir el modal -->
  <ion-button id="open-modal" expand="block" color="primary">Elije una opción</ion-button>
  <p class="p-abajo">{{ message }}</p>

  <!-- Modal -->
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="dark">
          <ion-buttons slot="start">
            <ion-button (click)="cancel()" color="light">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Regístrate como</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" color="success" [strong]="true">
              <ion-icon name="checkmark"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <!-- Opciones de Registro -->
        <ion-segment [(ngModel)]="role" color="primary">
          <ion-segment-button value="conductor">
            Conductor
          </ion-segment-button>
          <ion-segment-button value="pasajero">
            Pasajero
          </ion-segment-button>
        </ion-segment>

        <!-- Formulario para Conductor -->
        <ng-container [formGroup]="loginForm" *ngIf="role === 'conductor'">
          <ion-item>
            <ion-input fornControlName="nombre" label="Nombre" labelPlacement="stacked" type="text"
              placeholder="Nombre del conductor">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input fornControlName="email" label="Email" labelPlacement="stacked" type="email"
              placeholder="Ingrese Correo" [(ngModel)]="emailValue">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input fornControlName="pass" label="Contraseña" labelPlacement="stacked" type="password"
              placeholder="Contraseña" [(ngModel)]="passValue">
            </ion-input>
          </ion-item>
          <ion-button expand="full" (click)="registrarse()">Registrarse</ion-button>
        </ng-container>

        <!-- Formulario para Pasajero -->
        <ng-container [formGroup]="loginForm" *ngIf="role === 'pasajero'">
          <ion-item>
            <ion-input fornControlName="nombre" label="Nombre" labelPlacement="stacked" type="text"
              placeholder="Nombre del pasajero">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input fornControlName="email" label="Email" labelPlacement="stacked" type="email"
              placeholder="Ingrese Correo" [(ngModel)]="emailValue">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input fornControlName="pass" label="Contraseña" labelPlacement="stacked" type="password"
              placeholder="Contraseña" [(ngModel)]="passValue">
            </ion-input>
          </ion-item>
          <ion-button expand="full" (click)="registrarse()">Registrarse</ion-button>
        </ng-container>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>