<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="background-color: #F5F5F5;">
  <form (submit)="recoveryEmail()">
    <ion-item>
      <ion-input label="Correo" labelPlacement="stacked" type="text" placeholder="Ingresa tu Correo"
        [(ngModel)]="email"></ion-input>
    </ion-item>

    <div class="btns">
      <ion-button type="submit" color="dark" id="present-alert">Enviar</ion-button>
    </div>
  </form>
</ion-content>