<<<<<<< HEAD
ion-content {
    --background: linear-gradient(#bef892, #f4f5f8);
  }

@font-face {
  font-family: 'Rammetto One';
  src: url('../../../../assets/fonts/RammettoOne-Regular.ttf');//path to your font file
}
  
h1{
    margin-top: 15px;
    text-align: center;
    font-family: 'Rammetto One';
} 

ion-card {
  --ion-margin: 0;
  margin: 0 !important;
  padding: 0 !important;
  --ion-background-color: transparent;
  box-shadow: none !important;
}

ion-list {
  margin-top: 5px;
}

.custom-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  flex: 1;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  flex: 0;
}
=======
ion-icon {
  margin-right: 10px;
}

ion-item {
  size: 38px;
}

ion-card {
  height: 100vh; /* Altura total */
}

/* Posiciona los botones en la parte inferior */
.button-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0 10px;
  z-index: 10; /* Asegúrate de que los botones estén encima del mapa */
}

/* Espaciado entre los botones */
ion-button {
  margin-bottom: 10px;
}

/* Botón de menú */
.menu-button {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 20;
}

#map {
  z-index: 1; 
}
>>>>>>> rama_isa
