<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Conducto Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mapa de Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Aquí va tu componente de mapa -->
      <div id="mapa" style="height: 300px; background-color: grey;"></div>
    </ion-card-content>
  </ion-card>

  <!-- Botones para iniciar o terminar el viaje -->
  <ion-button expand="full" color="primary" >
    Crear Viaje
  </ion-button>
  <ion-button expand="full" color="danger" >
    Buscar Viaje
  </ion-button>
</ion-content>
