<ion-content [fullscreen]="true">
  <!-- Botón de menú fuera del ion-header -->
  <ion-buttons class="menu-button">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <!-- Mapa -->
  <div id="map" style="width: 100%; height: 100%; position: relative;"></div>

  <!-- Botones en la parte inferior -->
  <div class="button-container">
    <ion-button expand="full" color="primary" routerLink="/detalle-conductor">
      Crear Viaje
    </ion-button>
    <ion-button expand="full" color="danger">
      Buscar Viaje
    </ion-button>
  </div>
</ion-content>
