<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Bienvenido, {{ usuarioLogin }}</h1>
  <!-- <ion-searchbar  placeholder="Buscar"></ion-searchbar> -->
  <br>
  <ion-card>
    <ion-img
    src="assets/pok-wallpaper/mapa.jpeg"
    alt=""
    ></ion-img>
  </ion-card>

  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button routerLink="/historial" tab="time">
        <ion-icon name="time"></ion-icon>
        Historial
      </ion-tab-button>
      <ion-tab-button tab="qrCode">
        <ion-icon name="scan-outline"></ion-icon>
        Escaner
      </ion-tab-button>
      <ion-tab-button routerLink="/perfil" tab="person">
        <ion-icon name="person"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>