

<ion-content>
  <ion-card>
    <img src="/assets/wallpaper/fondo-login.jpg" alt="">
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
      <ion-card-subtitle>Facilitando tu regreso a casa con compañerismo y eficiencia</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div class="btns">
        <ion-button color="dark" fill="solid" shape="round" (click)="loguear()">Ingresar</ion-button>
        <ion-button color="dark" fill="outline" shape="round" (click)="registro()">Registrate</ion-button>
      </div>
      
      <div class="tag">
        <span>Otra forma de Iniciar Sessión</span>
      </div>

      <div class="social-icon">
        <ion-button class="btn-social" fill="clear">
          <ion-img src="/assets/icon/google.png"></ion-img>
        </ion-button>
        <ion-button class="btn-social" fill="clear">
          <ion-img src="/assets/icon/facebook.png"></ion-img>
        </ion-button>
        <ion-button class="btn-social" fill="clear">
          <ion-img src="/assets/icon/apple.png"></ion-img>
        </ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
