ion-content {
    --background: linear-gradient(#9dc1ff, #f4f5f8);
    //--background: #ccc url("../../../../assets/pok-wallpaper/wall1.jpeg") no-repeat center center / cover;//
  }
.social-icon{
    text-align: center;   
}
ion-header{
    position: absolute;
}
// ion-img{
//     width: 30px;
//     padding-left: 5px;
// }
ion-card {
    --ion-margin: 0;
    margin: 0 !important;
    padding: 0 !important;
    --ion-background-color: transparent;
    box-shadow: none !important;
}
.tag{
    margin-top: 40px;
    text-align: center;
    span{
        color: black;
        font-size: 15px;
        font-weight: normal;
        color: black;
    }
}
.btns{
    margin-top: 25px;
    text-align: center;
}
ion-card-title{
    text-align: center;
    margin-top: 40px;
}

ion-card-subtitle{
    text-align: center;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.747);
}

@font-face {
    font-family: 'Rammetto One';
    src: url('../../../../assets/fonts/RammettoOne-Regular.ttf');//path to your font file
}
  
h1{
    margin-top: 100px;
    font-family: 'Rammetto One';
}