<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-card color="dark">
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-card-header>
              <ion-card-title>Bienvenido</ion-card-title>
            </ion-card-header>
            <ion-card-content>pasajero</ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  
  <br>

  <ion-card color="medium">
    <ion-card-header>
      <ion-card-subtitle>Sugerencias</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="sugerencias">
        <ion-button expand="default" class="yellow-button" (click)="irABuscarViaje()">
          Buscar Viaje
        </ion-button>
        <ion-button expand="default" class="yellow-button">
          Historial de Viajes
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card color="warning">
  <ion-card-header>
    <ion-card-title>Admin</ion-card-title>
    <ion-card-subtitle>Estado de la app</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> El estado de la app funciona correctamente</ion-card-content>
</ion-card>
</ion-content>
